<div rv-hide="accessToken" class="right-align">
  <a class="btn blue darken-2" rv-href="oauthUri">Login With Google</a>
</div>
<div rv-show="accessToken" class="right-align">
  <div rv-hide="calendars">
    <button class="btn blue darken-2" rv-on-click="fetchCalendars">Fetch Calendars</button>
  </div>
  <div rv-show="calendars">
    <div class="col s5">
      <select>
        <option rv-each-calendar="calendars" rv-value="calendar.id">{ calendar.summary }</option>
      </select>
    </div>
    <div class="col s2">
      <a class="btn blue darken-2" rv-on-click="fetchEvents">Fetch</a>
    </div>
    <div class="col s2">
      <a class="btn blue darken-3" rv-on-click="syncEvents">Sync</a>
    </div>
  </div>
</div>
